#registration{
	border: black solid 1px;
	width: 350px;
	padding: 5px 5px;

}
#login{
	border: black solid 1px;
	width: 350px;
	padding: 5px 5px;
}
#input{
	display: flex;
	padding: 10px 10px;
	margin: auto 10;
}
.probox{
	border: 1px solid black;
	background-color: azure;
	width: 712px;
	padding: 5px 5px;
	display: flex;
}
#day{
	margin-left: 10px; 
	border: 1px solid black;
	width: 712px;
	padding: 5px 5px;
	display: flex;
}