<div>
<div id='day'>
  <h1><span style="color: blue">Product of the day!</span></h1>
  <div class='probox' *ngIf='product'>
    <div id="left">
      <img src='{{product.image}}' width='150'>
    </div>
    <div id='right'>
      <h2>{{product.title}} </h2>
      <h5>Description: {{product.description}}</h5>
      <h3>Price: ${{product.price}}</h3>
      <h5>Location: {{product.location}}</h5>
    </div>
    </div>
  </div>
  
<div id='input'>
  <div id='login'>
    <h1>Login</h1>
    <form NAME='myForm2' (submit)= "login()" #myForm2="ngForm">
        <h3>Email: <input class='inbox'
          type="text"
          pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          name="login_email" [(ngModel)]="loginUser.email"
          #login_email='ngModel'>
          <strong *ngIf='login_email.invalid && ( login_email.dirty || login_email.touched)'><span style="color: red">   Uphold Email format</span></strong><strong *ngIf='login_email.valid && ( login_email.dirty || login_email.touched)'><span style="color: green">   Looks good!</span></strong>
        </h3>
        <h3>Password: <input class='inbox' 
          type="text" 
          required 
          minlength="5" 
          maxlength="24" name="login_password" [(ngModel)]="loginUser.password"
          #login_password='ngModel'>
        </h3>
      <input type="submit" value="Login" [disabled]="myForm2.invalid">
    </form>
  </div>

  <div id="registration">
    <h1>Registration</h1>
    <div>
      <form name='myForm' (submit)= "onSubmit()" #myForm="ngForm">

      <p>*Name: </p>
      
      <input 
      type="text" 
      name="first_name" 
      required 
      minlength="4" 
      maxlength="24"
      [(ngModel)]="user.first_name"
      #first_name='ngModel'
      ><strong *ngIf='first_name.valid && ( first_name.dirty || first_name.touched)'><span style="color: green">  Looks good!</span></strong>
      <strong *ngIf='first_name.invalid && ( first_name.dirty || first_name.touched)'><span style="color: red">  First name must be 4 characters long</span></strong>
     
    <p>*Last name: </p>
    <script type="text/javascript">

    </script>
    <input 
      type="text" 
      name="last_name" 
      required 
      minlength=password.value.length.toString()
      maxlength="24"
      [(ngModel)]="user.last_name"
      #last_name='ngModel'
    ><strong *ngIf='last_name.invalid && ( last_name.dirty || last_name.touched)'><span style="color: red">  Last name must be 4 characters long</span></strong>
    <strong *ngIf='last_name.valid && ( last_name.dirty || last_name.touched)'><span style="color: green">  Looks good!</span></strong>
      
    <p>*Email: </p>
    <input 
      type="text" 
      name="email" 
      required 
      pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
      [(ngModel)]="user.email"
      #email='ngModel'
    ><strong *ngIf='email.invalid && ( email.dirty || email.touched)'><span style="color: red">   Uphold Email format</span></strong><strong *ngIf='email.valid && ( email.dirty || email.touched)'><span style="color: green">   Looks good!</span></strong>
      

      
    
    <p>*Password: </p>
    <input 
    type="password" 
      name="password" 
      required 
      minlength="5" 
      maxlength="24"
      [(ngModel)]="user.password"
      #password='ngModel'
    ><strong *ngIf='password.invalid && ( password.dirty || password.touched)'><span style="color: red">
    Password name must be 5 characters long. </span></strong><strong *ngIf='password.valid && ( password.dirty || password.touched)'><span style="color: green">Looks Good!</span></strong>
      


    <p>*Confirm Password: </p>
    <input 
      [(ngModel)]="user.con_password"
      #con_password='ngModel'
      type="password" 
      name="con_password"
      required
      ><span *ngIf='password.invalid && ( con_password.dirty || con_password.touched)'><span style="color: red">Too short! Read above, dude!</span></span>
    <strong *ngIf='con_password.value != password.value && password.valid && ( con_password.dirty || con_password.touched)'><span style="color: red">Password and confimation have to match</span></strong>
    <strong *ngIf='con_password.value == password.value && password.valid'><span style="color: green">Looks Good!</span></strong>


    <br><br><input type="submit" [disabled]="myForm.invalid || con_password.value!=password.value">
    

      </form>

    </div>
    {{users|json}}
  </div>
</div>