<h1>New question</h1>
<form name='myFrom' (submit)= "onSubmit()" #myForm="ngForm">
	Question: <input type="text" name="question" required 
    minlength="2" 
     [(ngModel)]="quest.question" #question='ngModel'><strong *ngIf='question.invalid && ( question.dirty || question.touched)'><span style="color: red">  *Question should be at least 8 characters in length</span></strong><br>

    Correct answer: <input type="text" name="correct" required 
    minlength="1" 
    maxlength="24"
     [(ngModel)]="quest.correct" #correct='ngModel'><strong *ngIf='correct.invalid && ( correct.dirty || correct.touched)'><span style="color: red">  Answer is needed</span></strong><br>

     Fake answer 1: <input type="text" name="fake1" required 
    minlength="1" 
    maxlength="24"
     [(ngModel)]="quest.fake1" #fake1='ngModel'><strong *ngIf='fake1.invalid && ( fake1.dirty || fake1.touched)'><span style="color: red">  Answer is needed</span></strong><br>

     Fake answer 2: <input type="text" name="fake2" required 
    minlength="1" 
    maxlength="24"
     [(ngModel)]="quest.fake2" #fake2='ngModel'><strong *ngIf='fake2.invalid && ( fake2.dirty || fake2.touched)'><span style="color: red">  Answer is needed</span></strong><br>
	
	<br><input type="submit" name="submit" value="Add Question" [disabled]="myForm.invalid">
</form>